#welcome {
  border: 1px solid black;
}

li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  margin: 0;
}

a{
  text-decoration: none;
  /*below I changed the color*/
  color: black;
  /*I added some padding*/
  padding: 2vw;
  /*also changed the font family but that's totally irrelevant*/
  font-family: monospace;
}

a:hover{
  background-color: rgb(210,210,210);
  opacity: 80%;
}



nav{
    width: 100vw;
    background-color: rgb(255,255,255);
}

button{
  display: none;
}
@media only screen and (max-width: 500px) {
  /*shows elements in a column*/
  ul{
    flex-direction: column;
  }

  /* deletes margin on top or bottom of the a tag*/
  li{
    margin: 0;
  }
 /* makes sure that the a tag will take the entire screen*/
  a{
    display: block;
  }

  button{
    /*makes the button visible*/
    display: block;

    /*since we are here, we can style it a little bit!*/
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;

    /*outline none removes the default blue border that appears anytime you click on the button*/
    outline: none;

    cursor: pointer;
    align-self: flex-start;
  }
}
